:root {
  --dark-blue: #0064fe;
  --yellow: #fffb36;
}

.menu-link-wrapper {
  background: var(--dark-blue);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu-link-wrapper .menu-link-item {
    padding-left: 25px;
    white-space: nowrap;
    margin: 5px 0;
    position: relative;
}

.menu-link-wrapper .menu-link-item:not(.leaf):before {
    content: '';
    width: 1px;
    background: whitesmoke;
    height: calc(100% - 18px);
    display: block;
    position: absolute;
    top: 0.5em;
    left: 17px;
}

.menu-link-wrapper .inner-wrapper > .menu-link-item:not(.leaf):before {
    left: -7px;
}

.menu-link-wrapper .inner-wrapper > .menu-link-item:not(.leaf):after {
    left: -7px;
    width: 5px;
}

.menu-link-wrapper .menu-link-item.leaf:before {
    content: '';
    width: 29px;
    background: white;
    height: 1px;
    display: block;
    position: absolute;
    top: 0.5em;
    left: -7px;
}

.menu-link-wrapper .menu-link-item:not(.leaf):after {
    content: '';
    width: 29px;
    background: white;
    height: 1px;
    display: block;
    position: absolute;
    top: 0.5em;
    left: -7px;
}

.menu-link-wrapper .inner-wrapper {
    padding: 10px 15px;
    width: 100%;
    overflow-x: auto;
}

.menu-link-wrapper .inner-wrapper > .menu-link-item {
    padding: 0;
}

.menu-link-wrapper .menu-link-item > a {
    color: whitesmoke;
    text-decoration: none;
}

.menu-link-wrapper .menu-link-item > a:hover {
    color: var(--yellow);
    font-weight: bold;
}

.menu-link-wrapper .menu-link-item .active {
    color: var(--yellow);
    font-weight: bold;
}

.menu-link-wrapper .search {
    width: 100%;
    padding: 5px 15px;
    color: var(--dark-blue);
    font-size: 1rem;
}

.menu-link-wrapper .search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--dark-blue);
  font-weight: 500;
}



